@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,700);

@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);

body {
    /* margin: 25px 0 25px 0; */
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-rows: auto minmax(400px, 1fr) auto;
}

header {
    height: 200px;
    border-top: 10px solid #4a2885;
    border-bottom: 10px solid #4a2885;
    border-radius: 10px;
    display: grid;
    justify-items: start;
    align-content: center;
    align-items: center;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
}

header h1 {
    grid-row: 1;
    font-size: 45px;
    padding: 25px;
    font-weight: regular;
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: inherit;
}

#list_btn {
    position: absolute;
    top: 150px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#list {
    position: absolute;
    display: none;
    top: 200px;
    right: 0;
    background: #ebebeb;
    width: 700px;
    border: 2px solid #28854a;
    text-align: center;
    z-index: 1;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.item {
    height: 300px;
    display: grid;
    overflow: hidden;
}

.item:hover .overlay {
    transform: translateY(-100%);
}

.overlay {
    color: white;
    background: #4a2885aa;
    height: 100%;
    transform: translateY(100%);
    transition: 0.3s;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.overlay h2 {
    grid-column: span 2;
    font-weight: 300;
    justify-self: center;
    align-self: center;
}

.overlay p {
    grid-row: 2;
    align-self: center;
}

.overlay button {
    height: 30px;
    width: 100px;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    background: #28854a;
    border: 1px solid black;
    cursor: pointer;
}

input[type='text'] {
    grid-row: 1;
    width: 300px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type='submit'] {
    border-radius: 20px;
    border: none;
    padding: 5px;
    width: 200px;
    font-size: 15px;
    color: white;
    background: #28854a;
    grid-row: 1;
    cursor: pointer;
}

#search_again {
    padding: 10px;
    font-size: 20px;
    display: none;
}

footer {
    height: 200px;
    grid-row: -1;
    border-top: 10px solid #4a2885;
    border-bottom: 10px solid #4a2885;
    border-radius: 10px;
    display: grid;
    justify-items: start;
    align-content: start;
}

footer h1 {
    padding: 25px;
    font-size: 30px;
}